body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
 .contact-info {
     text-align: center;
     margin-top: 50px;
        }
 .contact-info h2 {
     color: #333;
        }
 .contact-info p {
     color: #666;
        }
